@import url(https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap);

/* Base */
body {
  /* background: url(./image/pic1.png); */
  padding: 0;
  margin: 0!important;
  background-color: #000!important;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Red Hat Display", sans-serif!important;
}

@keyframes zoomout {
  from {
    background-size: 100%;
  }
  to {
    background-size: 40%;
  }
}
